@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    /* #080808; */
  
    background: #084C61;
    color: #fff;
    /* background-image: url("images/outline.png"); 
    background-repeat: repeat-y; */
    background-size:contain;
}

#header {
    width: 100%;
    height: 100vh;
    /* background: #084C61; */
    /* background: url('images/outline.png'); */
    background: url("images/pattern.png");
    background-size: cover;
    background-position: center;


}

#sky {
    width: 100%;
    position: absolute;
    top: 0;
    z-index: -10;
}



#contact {
    height: 100vh;
    display: flex;
    align-items: flex-end;
    background: url("images/contact_background.png");
    /* background: linear-gradient( #084C61, #001b30); */
}

/* #service {
    background: #001b30;
}

#portfolio {
    background: #001b30;
} */




.container {
    padding: 10px 10%;

}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

}

.logo {
    width: 140px;

}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    position: relative;

}

nav ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    background: #DB3A34;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after {
    width: 100%;
}

.header-text {
    margin-top: 20%;
    font-size: 30px;
}

.header-text h1 {
    font-size: 60px;
    margin-top: 20px;
}

.header-text h1 span {
    color: #DB3A34;
}

/* -----------about */

#about {
    padding: 80px 0;
    color: #ababab;
    height: 80vh;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1 {
    flex-basis: 35%;
}

.about-col-1 img {
    width: 100%;
    border-radius: 15px;
}

.about-col-2 {
    flex-basis: 60%;
}

.sub-title {
    font-size: 60px;
    font-weight: 600;
    color: white;
}

.tab-titles {
    display: flex;
    margin: 20px 0 40px;
}

.tab-links {
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after {
    content: '';
    width: 0;
    height: 3px;
    background: #DB3A34;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after {
    width: 50%;
}

.tab-contents ul li {
    list-style-position: none;
    margin: 10px 0;
}

.tab-contents ul li span {
    color: #DB3A34;
    font-size: 14px;
}


.tab-contents {
    display: none;
}

.tab-contents.active-tab {
    display: block;
}

/* ------services----- */
#services {
    padding: 30px 0;

}

.services-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;

}

.services-list div {
    background: #177E89;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}

.services-list div i {
    font-size: 50px;
    margin-bottom: 30px;

}

.services-list div h2 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}

.services-list div a {
    text-decoration: none;
    color: white;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}

.services-list div:hover {
    background: #DB3A34;
    transform: translateY(-10px);
    /* color: #323031;  */
}

/* portfolio */
#portoflio {
    padding: 50px 0;
}

/* .work-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.work {
    height: 400px;
    border-radius: 10px;
    /* overflow: hidden; */
/* background-color: #fff; */
/* border: solid 8px wheat; */
/* display: flex;
    flex-direction: column;
    color: #080808;
} */


/* .work-graphic {
    background-color: #DB3A34;
    flex-basis: 35%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* Horizontal centering */
/* align-items: center; */
/* Vertical centering */
/* } */
*/
/* .work-detail {
    background: green;
    color: #080808;
    /* border-radius: 10px; */
/* overflow: hidden;
    display: flex;
    flex-basis: 60%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 40px;
    text-align: center;
    font-size: 14px;
} */

/* .work-description {
    padding: 8px;
    flex-basis: 100%;
    overflow-y: scroll;
    /* Enable vertical scrolling */
/* scrollbar-width: none; */
/* Hide the scrollbar in WebKit browsers */

/* } */
*/
/* .work-detail h3 {
    flex-basis: 10%;
    background-color: aqua;
} */

/* .work-tags {
    flex-basis: 20%;
    background-color: aqua;
}

.work-description::-webkit-scrollbar {
    width: 0;
    background: transparent; */
/* Make the scrollbar track transparent */
/* } */


/* .layer-1 {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
    width: 100%;
    height: 0;
    color: #080808; */
/* border-radius: 10px; */
/* overflow: hidden;
    display: flex;
    flex-basis: 60%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    z-index: 100; */

/* transform:scaleY(-1); */
/* transform: rotate(90deg) scaleX(-1); */
/* transition: height 0.5s;
} */

/* .work:hover .layer-1 {
    height: 50%; */
/* transform-origin: bottom; */
/* } */

/* .layer {
    background: wheat;
    color: #080808;
    /* border-radius: 10px; */
/* overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px; */
/* text-align: justify;
    text-justify: inter-word; */
/* transition: height 0.5s; */
/* } */



#portoflio {
    padding: 50px 0;
}

.work-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 5px;
    margin-top: 50px;
}

.work {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.work img {
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: 0.5s;

}

.layer {
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.6), #DB3A34);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}

.layer h3 {
    font-weight: 500;
    margin-bottom: 20px;
}

.layer a {
    background: white;
    border-radius: 50%;
    font-size: 18px;
    width: 60px;
    height: 60px;
    text-align: center;
    color: #DB3A34;
    text-decoration: none;
    line-height: 60px;

}

.work:hover img {
    transform: scale(1.1);
}

.work:hover .layer {
    height: 100%;
}

.btn {
    font-size: 20px;
    display: block;
    margin: 50px auto;
    padding: 14px 50px;
    border: 1px solid #DB3A34;
    width: fit-content;
    text-decoration: none;
    color: #DB3A34;
    transition: 0.5s;

}

.btn.btn2 {
    color: #fff;
    display: inline-block;
    background-color: #DB3A34;
    transition: 0.5s;
}

.btn:hover {
    background: #DB3A34;
    color: #fff;
}

.btn.btn2:active {
    background: #fff;
}


/* contact */
.contact-left {
    flex-basis: 35%;
}

.contact-right {
    flex-basis: 60%;
}

.contact-left p {
    font-size: 20px;
    margin-top: 30px;
}

.social-icons {
    margin-top: 30px;
}

.social-icons a {
    margin-right: 15px;
    font-size: 30px;
    display: inline-block;
    text-decoration: none;
    color: whitesmoke;
    transition: transform 0.5s;
}

.social-icons a:hover {
    color: #DB3A34;
    transform: translateY(-5px);
}



form input,
form textarea {
    width: 100%;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    font-size: 18px;
    border-radius: 6px;
    border: 0;
    outline: none;
    color: #fff;
}


/* small screen */
nav .fas {
    display: none;
}



@media only screen and (max-width: 600px) {
    #header {
        background-image: url(images/pattern.png);
    }

    .header-text {
        margin-top: 100%;
        font-size: 16px;
    }

    .header-text h1 {
        font-size: 30px;
    }

    nav .fas {
        display: block;
        font-size: 25px;
    }

    nav ul {
        background: #DB3A34;
        position: fixed;
        width: 200px;
        height: 100vh;
        top: 0;
        right: -200px;
        z-index: 2;
        padding-top: 50px;
        transition: right 0.5s;

    }

    nav ul li {
        display: block;
        margin: 25px;
    }

    nav ul .fas {
        position: absolute;
        left: 25px;
        top: 25px;
        cursor: pointer;
    }


    .sub-title {
        font-size: 40px;
    }

    .about-col-1,
    .about-col-2 {
        flex-basis: 100%;
    }

    .about-col-1 {
        margin-bottom: 30px;
    }

    .about-col-2 {
        font-size: 14px;
    }

    .tab-links {
        font-size: 16px;
        margin-right: 20px;

    }

    .contact-left,
    .contact-right {
        flex-basis: 100%;
    }
}